Source: zlemr
Section: unknown
Priority: extra
Maintainer: PIH <medinfo@pih.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://github.com/PIH
#Vcs-Git: git://git.debian.org/collab-maint/zlemr.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/zlemr.git;a=summary

Package: zlemr
Architecture: all
Depends: ${misc:Depends}
Description: Implementation of OpenMRS for the Zanmi Lasante
 This package install the OpenMRS war file and the necessary
 modules that compose the Zanmi Lasante implementation. It also
 install configurations files necessary to run the server.